<%- include('../template/head')-%>

<body>
    <div class="cover-container mx-auto">
        <h1 class="cover-heading masthead p-2 pb-4">Kolloquien Termine (Stand: <%=meta.lastModified%>)</h1>
        <div class="container">
            <ul>
            <%event_data.forEach(function(entry) {%>
                <li><%=entry.institute%>: <a href="<%= entry.link %>">Zoom Link</a> | <a href="/pdf/<%= entry.institute%>.pdf">PDF Link</a></li>
            <%});%>
            </ul>
            <h2 class="py-2">Aktuelle Kolloquien</h2>
            <table id="table" class="table table-dark table-hover table-bordered mb-4">
                <thead>
                    <tr>
                        <th>Ins.</th>
                        <th>Datum</th>
                        <th>Uhrzeit</th>
                        <th>Sprecher</th>
                        <th>Thema</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%data.future_events.forEach(function(entry) {%>
                    <tr class="tre inst-<%=entry.institute%>">
                        <td><%=entry.institute%></td>
                        <td><%=entry.date%></td>
                        <td><%=entry.time%></td>
                        <td><%=entry.speaker%></td>
                        <td><%=entry.topic%></td>
                        <td><a href="<%= entry.link %>">Link</a></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
            <h2 class="py-2">Vergangene Kolloquien</h2>
            <table id="table" class="table table-dark table-hover table-bordered mb-4">
                <thead>
                    <tr>
                        <th>Ins.</th>
                        <th>Datum</th>
                        <th>Uhrzeit</th>
                        <th>Sprecher</th>
                        <th>Thema</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%data.past_events.forEach(function(entry) {%>
                    <tr class="tre inst-<%=entry.institute%>">
                        <td><%=entry.institute%></td>
                        <td><%=entry.date%></td>
                        <td><%=entry.time%></td>
                        <td><%=entry.speaker%></td>
                        <td><%=entry.topic%></td>
                        <td><a href="<%= entry.link %>">Link</a></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <%- include('../template/footer')-%>
    </div>

</body>
<script>
    window.onload = function() {
        document.getElementById('table').classList.add('active');
      };
</script>
</html>